<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>John's App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/styles.css') }}">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
        integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <div class="container">
        <form id="form">
            <input id="ticker" name="ticker" type="text" placeholder="enter ticker" />
            <input id="startDate" name="startDate" type="date" />
            <input id="endDate" name="endDate" type="date" />
            <input type="submit" />
        </form>
    </div>

    <script>
        window.onload = (event) => {
            const form = document.getElementById('form');
            form.addEventListener('submit', (e) => {
                e.preventDefault()
                let ticker = document.getElementById("ticker").value
                let startDate = document.getElementById("startDate").value
                let endDate = document.getElementById("endDate").value

                axios.post('/data', JSON.stringify({
                    ticker,
                    startDate,
                    endDate
                }), {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function (response) {
                        // call function you wrote below from Chart.js here, passing response.data in as parameter
                        document.getElementById("myChart") && document.getElementById("myChart").remove()
                        let canvas = document.createElement('canvas')
                        canvas.id = "myChart"
                        document.getElementsByClassName("container")[0].append(canvas)
                        const ctx = document.getElementById('myChart');
                        const ticker = Object.keys(response.data)[0] // this will be the label for our dataset
                        const xAxisLabels = Object.keys(response.data[ticker])
                        const dataPoints = Object.values(response.data[ticker])
                        const data = null
                        const options = {
                            responsive: true,
                            maintainAspectRatio: false,
                        }

                        const myChart = new Chart(ctx, {
                            type: 'line',
                            data: {
                                labels: xAxisLabels.map((date) => {
                                    return new Date(date).toLocaleDateString("en-US")
                                }),
                                datasets: [{
                                    label: ticker, // Name the series
                                    data: dataPoints, // Specify the data values array
                                    fill: false,
                                    borderColor: '#2196f3', // Add custom color border (Line)
                                    backgroundColor: '#2196f3', // Add custom color background (Points and Fill)
                                    borderWidth: 1 // Specify bar border width
                                }]
                            },
                            options: options
                        });
                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }, false);
        }
        // use Chart.js documentation for figure out how to plot that data and put it in a fucntion here.
    </script>
</body>

</html>