<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stocks Information and Prediction</title>
</head>
<body>
	<h1 style="background:lightblue;padding:10px">
            Stocks/Finance Group
    </h1>
	
	<p>Click links to see each project</p>
	
    <nav>
    	<a href="{{url_for('index')}}"> Home </a> &nbsp;
    	<a href="Andrew"> Andrew's Link  </a>  &nbsp;
    	<a href="{{url_for('zach')}}"> Zach's Link   </a>  &nbsp;
    	<a href="{{url_for('keith')}}"> Keith's Link   </a>  &nbsp;
    	<a href="{{url_for('john')}}"> John's Link   </a>  &nbsp;
		<a href="{{url_for('john')}}"> Hoang's Link   </a> 
    </nav>

{% block main %}

{% endblock %}

</body>
</html>